*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img{
  width: 400px;
  padding: 10px;
}

.container{
  margin-top: 30px;
  padding: 0;
}

.container ul{
  width: 100%;
}

.container li{
  list-style: none;
  float: left;
}

